// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.site-header {
    padding: 70px 0;
    &-img {
        background-image: url('../../images/illustration-intro.png');
        background-repeat: no-repeat;
        background-position: center;
        width: 720px;
        height: 720px;
        margin: 0 auto;
    }
    &-title {
        font-size: 46px;
        text-align: center;
    }
    &-info {
        font-size: 18px;
        text-align: center;
    }
    &-btn {

    }
}