/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font-family: $body-font;
  font-size: 14px;
}

button {
  font-family: $headings-font;
  color: $text-color;
}
h1,h2,h3,h4,h5,h6 {
  font-family: $headings-font;
  color: $text-color;
}